<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
    <style media="screen">
      body{
        background-color: #4dd2ff
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class='text-center'><i>Welcome to Django Course</i></h1><hr>
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <ul><h3 class='text-warning'>About Django </h3>
            <li><h6>Django is an advanced Web framework written in Python that makes use of the model view controller (MVC) architectural pattern. Django was created in a .</h6></li>
            <li><h6>Django is an open-source python web framework used for rapid development, pragmatic, maintainable, clean design, and secure websites. A web application framework is a toolkit of all components needed for application development.</h6></li>
            <li><h6>Django is a free and open source web application framework written in Python. A framework is nothing more than a collection of modules that make development ...</h6></li>
            <li><h6>We'll outline the main features, including some of the advanced functionality that we won't have time to cover in detail in this module. We'll also show you some of the main building blocks of a Django application (although at this point you won't yet have a development environment in which to test it).</h6></li>

          </ul>

        </div>

      </div>

    </div>


  </body>
</html>
