<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
    <style media="screen">
      body{
        background-color: #c4ff4d
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class='text-center'><i>Welcome to Python Course</i></h1><hr>
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <ul><h3 class='text-warning'>About Python </h3>
            <li><h5>It is a simple and esy language</h5></li>
            <li><h5>python is portable language and also it is  powewrfull language</h5></li>
            <li><h5>it supports Django web framework and it supports the all types of databases related to MySQL,SQL,Oracle....etc</h5></li>
            <li><h5>Python has been one of the premier, flexible, and powerful open-source languages that is easy to learn, easy to use, and has powerful libraries for data manipulation and analysis.</h5></li>
          </ul>

        </div>

      </div>

    </div>


  </body>
</html>
